$main-text-size: 16px;
$white: #fff;
$black: #000;
$dark: #333;
$light-grey: #e3e3e3;
$primary-green: #01b99f;
$secondary-green: #5eefdb;
$text-blue: #1297cf;
$text-light-blue: #e9f8ff;
$input-light-border: #aaa;
$yellow: #faff00;
$button-primary-left-border: #00fff3;
$button-primary-right-border: #29f8ff;
$button-primary-disabled-left-border: #c1fffc;
$button-primary-disabled-right-border: #a9fcff;
$button-primary-hover-left-border: #7cf9fd;
$button-primary-hover-right-border: #67dcff;
$button-primary-pressed-left-border: #00d6cb;
$button-primary-pressed-right-border: #00bdc4;
$button-secondary-bg: linear-gradient(92.83deg, #00ffdb -2.09%, #00cdff 52.36%);
$button-secondary-hover-bg: linear-gradient(92.83deg, #83ffed -2.09%, #2fd6ff 52.36%);
$button-secondary-disabled-bg: linear-gradient(92.83deg, #befff6 -2.09%, #adefff 52.36%);
$button-secondary-pressed-bg: linear-gradient(92.83deg, #00d8b9 -2.09%, #00afda 52.36%);
$menu-bg: #001529;
$btn-hover: #00A482;
// #00415A
// #00727A
// #00A482
// #84D277
// #F9F871